@page
@model eStoreClient.Pages.ProductModel
@{
}
@if (ViewData["Message"] != null)
{
    <h3 style="color:red">@ViewData["Message"]</h3>
}
<div style="display:flex;">
<p>
    <a asp-page="Create">Create New Product</a>
</p>
<button  class="btn btn-primary" style="margin-left:800px;">
        <a asp-page="/MemberPage/Member" style="color:white">Member Management</a>
</button>
    <button  class="btn btn-danger" style="margin-left:30px;">
        <a asp-page="/Cart" style="color:white">Cart</a>
    </button>
</div>

<div>
    <form method="post">
        <input asp-for="@Model.search" />
        <input hidden asp-for="@Model.number" value="1"/>
        <button type="submit">Search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitsInStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <form method="post">
            <tr>
                <td>
                    <input hidden asp-for="@Model.number" value="2" />
                    <input hidden asp-for="@Model.selectedProducts" value="@item.ProductId" />
                    <button type="submit" class="btn btn-info">
                        Add Cart
                    </button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ProductId">Update</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
            </form>
        }
    </tbody>
</table>
